name: Deploy to Production

on:
    push:
        branches:
            - main 

# Permissions required for OIDC authentication
permissions:
    id-token: write #This is required for requesting the JWT
    contents: read  #This is required for actions/checkout

jobs: 
    build-and-deploy:
        runs-on: ubuntu-latest

        steps: 
            # 1. Check out your repository
            - name: Checkout Code
              uses: actions/checkout@v4

            # 2. Setup Node js environment
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '20'
                cache: 'npm' # This speeds up builds by caching dependencies
            
            # 3. Install dependencies
            - name: Install Dependencies
              run: npm ci

            # 4. Build the static files
            # CHECK: If your project outputs to 'build' instad of 'dist', change it in step 6
            - name: Build Project
              run: npm run build

            #5. Log in to AWS using the OIDC Role
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
                aws-region: us-east-1

            # 6. Upload files to S3
            - name: Deploy to S3
              run: |
                aws s3 sync ./dist s3://"${{ secrets.AWS_S3_BUCKET }}" --delete


            # 7. Clear Cloudfront Cache so users see changes immediately
            - name: Invalidate CloudFront
              run: |
                aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DIST_ID }} --paths "/*"